{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block head_title %}TaskBuster Django Tutorial{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
        <h1>{% trans "Welcome to TaskBuster!"%}</h1>
        <p>{% blocktrans %}TaskBuster is a simple Task manager that helps you organize your daylife. </br> You can create todo lists, periodic tasks and more! </br></br> If you want to learn how it was created, or create it yourself!, check www.django-tutorial.com{% endblocktrans %}</p>

		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	</div>
</div>
<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
		  	<h2 id="local-date">{{today}}</h2>
			<p>This is the local time format</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2 id="non-local-date">{{today|unlocalize}}</h2>
			<p>This is the non local time format </p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Time Zones</h2>
			<p>Hong Kong: <span id="time-tz">{{now|time:"H:i"}}</p>
			<p>UTC: <span id="time-utc">{{now|utc|time:"H:i"}}</p>
			<p>New York: <span id="time-ny">{{now|timezone:"America/New_York"|time:"H:i"}}</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
    <hr>
    <footer>
    	<p>&copy; Company 2015</p>
    </footer>
</div> <!-- /container -->       	
{% endblock %}